install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ] ; then sudo PIP=/usr/local/bin/pip3 make install-prereqs ; else make install-prereqs ; fi
  - make pymodule
  - make wheel

script:
  - make test
  - make pytest

matrix:
  include:
    - os: osx
      osx_image: xcode9.3beta
      language: generic
      before_install: brew upgrade python ; rm -f /usr/local/include/c++ ; brew install gcc ; brew install cxxtest
      env:
        - CC=g++-7 CXX=g++-7 PIP=/usr/local/bin/pip3 PYTHON=/usr/local/bin/python3
      addons:
        artifacts:
          s3_region: "us-west-2"
          paths: $(ls dist/*.whl)


    - os: linux
      language: python
      python: '3.6'
      env:
        - CC=g++-7 CXX=g++-7
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
            - cxxtest
        artifacts:
          s3_region: "us-west-2"
          paths: $(ls dist/*.whl)
